body {
    font-family: Arial, sans-serif;
  background-image: url("./image/weather.jpg");
  text-align: center;
  background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
  }
.container{
    
margin-left: 34% ;
margin-top:100px;
 border-radius: 20px;
    width: 400px;
    border:2px solid #a03a12;
    background-color: rgb(255, 255, 255);
    height: 400px;
}
.container h1 {
   padding-top: 50px;
    color: #060c5e;
}
h2{
    color: rgb(97, 39, 5);
    font-size: 25px;
}
p{
    color: #060c5e;
    font-size: 15px;
}
input {
    padding: 10px;
    margin: 2px;
    border-radius: 5px;
    font-size: 18px;
    border: 2px solid #835f5f;
}
input{
    color: #034920;
}
button {
    padding: 15px 20px;
    border: none;
    background-color: #a03a12;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
 
