body {
    font-family: Arial, sans-serif;
  background-image: url("./image/weather.jpg");
   background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 display: flex;
 align-items: center;
 justify-content: center;
  }
 
  .container {
    justify-content: center;
    margin-top: 100px;
    border-radius: 20px;
    width: 400px;
    border: 2px solid #a03a12;
    background-image: url("/image/cld.jpg.jpg");
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
.container h1 {
   padding-top: 50px;
    color: #060c5e;
}
h2{
    color: rgb(97, 39, 5);
    font-size: 25px;
}
p{
    color: #012501;
    font-size: 15px;
    font-weight: bolder;
}
input {
    padding: 10px;
    margin: 2px;
    border-radius: 5px;
    font-size: 18px;
    border: 2px solid #835f5f;
}
input{
    color: #034920;
}
button {
    padding: 15px 20px;
    border: none;
    background-color: #a03a12;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
 
